<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content style="background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #000,#cb356b, #bd3f32); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #000,#cb356b, #bd3f32);text-align: center
" >

<ion-row style="height: 13%">


</ion-row >

<ion-row style="height: 15%">
   <ion-col col-2>
  </ion-col>
  <ion-col col-8 style="text-align: center">
<img src="assets/logo.png" style="width: 100%">
  </ion-col>
   <ion-col col-2>
  </ion-col>
</ion-row>
<ion-row style="height: 1%">


</ion-row >
<ion-row style="height: 46%;text-align: center" >
<ion-row  [hidden]="registerPage" style="width: 100%">
  <ion-col col-2>
  </ion-col>
  <ion-col col-8 style="text-align: center;border-radius: 3px;">
<ion-list no-lines>
 <ion-item  style="background-color: rgba(255, 255, 255, 0);">
    <ion-label color="primary" floating><ion-icon name="mail"></ion-icon> {{'email' | translate}}</ion-label>
    <ion-input type="text" [(ngModel)]="loginData.email" style="color:white"></ion-input>
  </ion-item>

   <ion-item  style="background-color: rgba(255, 255, 255, 0);">
    <ion-label color="primary" floating><ion-icon name="lock"></ion-icon> {{'password' | translate}}</ion-label>
    <ion-input type="password" [(ngModel)]="loginData.password" style="color: white"></ion-input>
  </ion-item>
</ion-list>
 
  </ion-col>
<ion-col col-2>
</ion-col>

<ion-col col-2>
</ion-col>

<ion-col col-8>

<button (click)="signIn()" ion-button style="opacity: 0.8;box-shadow: 0px 10px 30px #151515;border-radius: 20px" color="white" block >{{'login' | translate}}</button>


</ion-col>

</ion-row>




<ion-row  [hidden]="!registerPage" style="width: 100%">
  <ion-col col-2>
  </ion-col>
  <ion-col col-8 style="text-align: center;border-radius: 3px;">
<ion-list no-lines>
 <ion-item  style="background-color: rgba(255, 255, 255, 0);">
    <ion-label color="primary" floating><ion-icon name="mail"></ion-icon> {{'email' | translate}}</ion-label>
    <ion-input type="text" [(ngModel)]="registerData.email" style="color:white"></ion-input>
  </ion-item>

   <ion-item  style="background-color: rgba(255, 255, 255, 0);">
    <ion-label color="primary" floating><ion-icon name="lock"></ion-icon> {{'password' | translate}}</ion-label>
    <ion-input type="password" [(ngModel)]="registerData.password" style="color: white"></ion-input>
  </ion-item>

 
</ion-list>
 
  </ion-col>
<ion-col col-2>
</ion-col>

<ion-col col-2>
</ion-col>

<ion-col col-8>

<button (click)="register()" ion-button style="opacity: 0.8;box-shadow: 0px 10px 30px #151515;border-radius: 20px" color="white" block >{{'signUp' | translate}}</button>


</ion-col>

</ion-row>

</ion-row>


<ion-row style="height: 15%">

<ion-col col-2>
</ion-col>

<ion-col col-8>
  <!-- <button (click)="signInWithGoogle()" ion-button style="opacity: 0.8;box-shadow: 0px 10px 30px #151515;border-radius: 20px" color="danger" block icon-left> <ion-icon name="logo-google"></ion-icon> Google</button> -->
  

<button (click)="signInWithFacebook()" ion-button style="opacity: 0.8;box-shadow: 0px 10px 30px #151515;border-radius: 20px" color="light" block icon-left> <ion-icon name="logo-facebook"></ion-icon> Facebook</button>


</ion-col>

</ion-row>

<ion-row style="height: 10%">




<ion-col col-6 style="text-align: left">
<button (click)="forgotPassword()" ion-button style="opacity: 0.8" clear block >{{'forgotPassword' | translate}}</button>


</ion-col>

<ion-col col-6 style="text-align: right">
<button (click)="page()" *ngIf="!registerPage" ion-button style="opacity: 0.8" clear block >{{'newUser' | translate}}</button>
<button (click)="page()" *ngIf="registerPage" ion-button style="opacity: 0.8" clear block >{{'alreadyUser' | translate}}</button>


</ion-col>

</ion-row>

</ion-content>
